Repository mipselqq/goroutine: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, swag, lint, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.go"
      run: make fmt && git diff --exit-code {staged_files} || (echo "Code formatting autofixed. Please stage the changes and try again." && exit 1)

    swag:
      glob: "internal/handler/*.go"
      run: make swag && git diff --exit-code docs/ || (echo "Swagger documentation regenerated. Please stage the changes in docs/ and try again." && exit 1)
    lint:
      glob: "*.go"
      run: make lint

    test:
      glob: "*.go"
      run: make test-all

pre-push:
  parallel: true
  commands:
    vuln:
      glob: "*.go"
      run: make vuln

    test-race:
      glob: "*.go"
      run: make test-some-race

feat(actions): introduce new env var
  .github/workflows/generic-deploy.yml
Due: none

feat: add new env var to config parser
  internal/config/app.go
  internal/config/app_test.go
Due: fmt, lint, test

feat: create and register separate router and register /metrics
  cmd/server/main.go
  internal/app/app.go
  internal/app/route.go
  internal/app/route_test.go
Due: fmt, lint, test

test: adapt auth_test to new app constructor
  tests/auth_test.go
Due: fmt, lint, test

feat: update example env
  .env.example
Due: none

refactor: add App struct, factor out duplicate code to helper
  cmd/server/main.go
  internal/app/app.go
  internal/app/startup.go
  tests/auth_test.go
Due: fmt, lint, test

fix: commit main.go (forgot)
  cmd/server/main.go
Due: fmt, lint, test

style: run fmt
  internal/app/startup.go
  internal/config/app.go
Due: fmt, lint, test

test: fix e2e by using Router instead of AdminRouter
  internal/app/startup.go
  lefthook.yml
  tests/auth_test.go
Due: fmt, lint, test

feat: run admin server on port 9091 (by default) with /metrics along with main server
  .env.example
  .github/workflows/generic-deploy.yml
  cmd/server/main.go
  docker-compose.prod.yml
  internal/app/app.go
  internal/app/route.go
  internal/app/route_test.go
  internal/app/startup.go
  internal/config/app.go
  internal/config/app_test.go
  lefthook.yml
  tests/auth_test.go
Due: fmt, lint, test

fix: passthrough admin port to prometheus
  docker-compose.prod.yml
  docker-compose.yml
  prometheus.template.yml
Due: none

fix(ci): use PORT var in .env.prod generation
  .github/workflows/generic-deploy.yml
Due: none

fix: override prometheus entrypoint
  docker-compose.prod.yml
  docker-compose.yml
Due: none

feat: prometheus config templating
  .github/workflows/deploy.yml
  .github/workflows/generic-deploy.yml
  docker-compose.prod.yml
  docker-compose.yml
Due: none

fix: map app to host on dev
  docker-compose.yml
Due: none

security: run separate admin server on private port 9091 (#60)
  .env.example
  .github/workflows/deploy.yml
  .github/workflows/generic-deploy.yml
  cmd/server/main.go
  docker-compose.prod.yml
  docker-compose.yml
  internal/app/app.go
  internal/app/route.go
  internal/app/route_test.go
  internal/app/startup.go
  internal/config/app.go
  internal/config/app_test.go
  lefthook.yml
  prometheus.template.yml
  tests/auth_test.go
Due: fmt, lint, test

dep: add go-cmp to compare configs in tests
  go.mod
Due: none

refactor: app test
  internal/config/app_test.go
  internal/testutil/env.go
  internal/testutil/logging.go
Due: fmt, lint, test

refactor: database test
  internal/config/database.go
  internal/config/database_test.go
Due: fmt, lint, test

refactor: rename
  internal/config/app_test.go
  internal/config/database_test.go
  internal/testutil/logging.go
Due: fmt, lint, test

feat: remove unit test testing implementation details
  internal/config/parser_test.go
Due: fmt, lint, test

refactor: rename for more clarity
  internal/config/env.go
Due: fmt, lint, test

refactor(config): reduce duplicate code and clean up (#68)
  go.mod
  internal/config/app_test.go
  internal/config/database.go
  internal/config/database_test.go
  internal/config/env.go
  internal/config/parser_test.go
  internal/testutil/env.go
  internal/testutil/logging.go
Due: fmt, lint, test

feat: use colorful temp logger
  cmd/server/main.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  internal/app/route_test.go
  internal/app/startup.go
  internal/config/app.go
  internal/config/app_test.go
  internal/config/database.go
  internal/config/database_test.go
  internal/config/env.go
  internal/handler/auth_test.go
  internal/handler/health_test.go
  internal/logging/factory.go
  internal/testutil/database.go
  internal/testutil/logging.go
  tests/auth_test.go
Due: fmt, swag, lint, test

chore: log unset environment variables
  cmd/server/main.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  internal/app/route_test.go
  internal/app/startup.go
  internal/config/app.go
  internal/config/app_test.go
  internal/config/database.go
  internal/config/database_test.go
  internal/config/env.go
  internal/handler/auth_test.go
  internal/handler/health_test.go
  internal/logging/factory.go
  internal/testutil/database.go
  internal/testutil/logging.go
  tests/auth_test.go
Due: fmt, swag, lint, test

feat: add happy path
  internal/config/app_test.go
Due: fmt, lint, test

refactor(auth_test): reuse test logger
  tests/auth_test.go
Due: fmt, lint, test

refactor(app_test): remove explicit unset
  internal/config/app_test.go
Due: fmt, lint, test

feat(database_test): add happy path
  internal/config/database_test.go
Due: fmt, lint, test

fix: remove override files
  ansible/server-setup-ubuntu.yml
Due: none

feat: add simple binary to check health on distroless
  Dockerfile
  Makefile
  cmd/ping/main.go
  docker-compose.prod.yml
Due: fmt, lint, test

fix: remove ssh override files in Ansible (#71)
  ansible/server-setup-ubuntu.yml
Due: none

style: fix typo
  internal/config/database_test.go
Due: fmt, lint, test

fix: add timeout to fail quickly
  cmd/ping/main.go
Due: fmt, lint, test

refactor: make main() humble for testing
  cmd/ping/main.go
Due: fmt, lint, test

test: cover ping with tests
  cmd/ping/main_test.go
Due: fmt, lint, test

ci: add app health check (#72)
  Dockerfile
  Makefile
  cmd/ping/main.go
  cmd/ping/main_test.go
  docker-compose.prod.yml
Due: fmt, lint, test

fix: explicitly unset variables
  internal/config/app_test.go
  internal/config/database_test.go
Due: fmt, lint, test

style: fix typos
  internal/config/app_test.go
  internal/config/database_test.go
Due: fmt, lint, test

feat: ignore grafana json dashboards
  .tokeignore
Due: none
