Repository mipselqq/goroutine: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, swag, lint, test

fmt:
  run: make fmt

swag:
  run: make swag

lint:
  run: make lint

test:
  run: make test-all

doc(issue templates): remove prefixes (#17)
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/todo.md
Due: none

ci: utilize caching to avoid resource waste
  .github/workflows/deploy.yml
  .github/workflows/quality-check.yml
Due: none

ci: utilize caching to avoid resource waste (#19)
  .github/workflows/deploy.yml
  .github/workflows/quality-check.yml
Due: none

test: cover secrecy with test
  internal/secrecy/secrecy_test.go
Due: fmt, lint, test

test: replace Fatalf with Errorf
  internal/secrecy/secrecy_test.go
Due: fmt, lint, test

test: cover secrecy with test (#22)
  internal/secrecy/secrecy_test.go
Due: fmt, lint, test

chore: replace 'go-todo' with 'goroutine'
  cmd/server/main.go
  docker-compose.prod.yml
  go.mod
  internal/app/app.go
  internal/app/route.go
  internal/app/route_test.go
  internal/app/startup.go
  internal/config/app.go
  internal/config/database.go
  internal/domain/email_test.go
  internal/domain/password_test.go
  internal/domain/title_test.go
  internal/handler/auth.go
  internal/handler/auth_test.go
  internal/handler/health_test.go
  internal/handler/mocks_test.go
  internal/repository/user.go
  internal/repository/user_test.go
  internal/secrecy/secrecy_test.go
  internal/service/auth.go
  internal/service/auth_test.go
  internal/service/mocks_test.go
  internal/testutil/database.go
  tests/auth_test.go
Due: fmt, swag, lint, test

doc(cmd/server): change description
  cmd/server/main.go
Due: fmt, lint, test

chore: rebrand to goroutine (#23)
  cmd/server/main.go
  docker-compose.prod.yml
  go.mod
  internal/app/app.go
  internal/app/route.go
  internal/app/route_test.go
  internal/app/startup.go
  internal/config/app.go
  internal/config/database.go
  internal/domain/email_test.go
  internal/domain/password_test.go
  internal/domain/title_test.go
  internal/handler/auth.go
  internal/handler/auth_test.go
  internal/handler/health_test.go
  internal/handler/mocks_test.go
  internal/repository/user.go
  internal/repository/user_test.go
  internal/secrecy/secrecy_test.go
  internal/service/auth.go
  internal/service/auth_test.go
  internal/service/mocks_test.go
  internal/testutil/database.go
  tests/auth_test.go
Due: fmt, swag, lint, test

fix: add missing branch to handler, expect correct error and body
  internal/handler/auth.go
  internal/handler/auth_test.go
Due: fmt, swag, lint, test

fix: add missing branch to handler, expect correct error and body (#24)
  internal/handler/auth.go
  internal/handler/auth_test.go
Due: fmt, swag, lint, test

feat: implement metrics middleware
  go.mod
  go.sum
  internal/middleware/metrics.go
  internal/middleware/metrics_test.go
Due: fmt, lint, test

feat: add metrics route
  internal/app/route.go
  internal/app/route_test.go
Due: fmt, lint, test

feat: register metrics middleware
  internal/app/app.go
Due: fmt, lint, test

feat: add prometheus config, run new services in compose
  docker-compose.prod.yml
  docker-compose.yml
  prometheus.yml
Due: none

fix: correct node-exporter image name
  docker-compose.prod.yml
  docker-compose.yml
Due: none

fix: freeze images' version in compose files
  docker-compose.prod.yml
  docker-compose.yml
Due: none

fix(prometheus): map app to localhost for dev runs
  docker-compose.yml
Due: none

chore(Makefile): add important note about firewall
  Makefile
Due: none

feat: add dashboards and provisioning
  docker-compose.prod.yml
  docker-compose.yml
  infra/grafana/dashboards/app-red.json
  infra/grafana/dashboards/node-exporter-full-1860_rev42.json
  infra/grafana/provisioning/dashboards/provider.yml
  infra/grafana/provisioning/datasources/prometheus.yml
Due: none

chore: bump go version & run mod tidy
  Dockerfile
  go.mod
  go.sum
Due: none

chore: pull changes, run go mod tidy
  Dockerfile
  go.mod
  go.sum
Due: none

feat: take grafana password from .env files
  .env.example
  docker-compose.prod.yml
  docker-compose.yml
Due: none

feat: add loki and alloy for logs collection
  docker-compose.prod.yml
  docker-compose.yml
  infra/alloy/config.alloy
  infra/grafana/provisioning/datasources/prometheus.yml
Due: none

fix(provisioning): remove duplicate uuid
  infra/grafana/provisioning/datasources/prometheus.yml
Due: none

feat(compose): add liveness checks where possible
  docker-compose.prod.yml
  docker-compose.yml
Due: none

feat(compose): balance memory and CPU over services depending on priority
  docker-compose.prod.yml
  docker-compose.yml
Due: none

fix(deploy): copy all necessary files
  .github/workflows/deploy.yml
Due: none

feat: add docker logs dashboard with container selector
  infra/grafana/dashboards/container-logs.json
Due: none

chore: integrate prometheus and grafana (#34)
  .env.example
  .github/workflows/deploy.yml
  Makefile
  docker-compose.prod.yml
  docker-compose.yml
  go.mod
  go.sum
  infra/alloy/config.alloy
  infra/grafana/dashboards/app-red.json
  infra/grafana/dashboards/container-logs.json
  infra/grafana/dashboards/node-exporter-full-1860_rev42.json
  infra/grafana/provisioning/dashboards/provider.yml
  infra/grafana/provisioning/datasources/prometheus.yml
  internal/app/app.go
  internal/app/route.go
  internal/app/route_test.go
  internal/middleware/metrics.go
  internal/middleware/metrics_test.go
  prometheus.yml
Due: fmt, lint, test

fix: set all containers' restart policy to unless-stopped
  docker-compose.prod.yml
  docker-compose.yml
Due: none

fix: set all containers' restart policy to unless-stopped (#35)
  docker-compose.prod.yml
  docker-compose.yml
Due: none

chore: update issue and PR templates
  .github/ISSUE_TEMPLATE/feature.md
  .github/issue_template/bug.md
  .github/issue_template/feature.md
  .github/issue_template/todo.md
  .github/pull_request_template.md
Due: none

chore: update issue and PR templates (#37)
  .github/ISSUE_TEMPLATE/feature.md
  .github/issue_template/bug.md
  .github/issue_template/feature.md
  .github/issue_template/todo.md
  .github/pull_request_template.md
Due: none

fix: make naming upper-case
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/todo.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix(templates): make naming upper-case (#38)
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/todo.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Path conditions:
  fmt: any of: *.go
  swag: any of: internal/handler/*.go
  lint: any of: *.go
  test: any of: *.go
